/* Slick Slide classes
==================================================*/
.slickslides {
    position: relative;
    width: 100%;
    height: 100%;
}

.slickslide {
    display: none;
    position: absolute;
    left: 10000px;
    width: inherit;
    height: inherit;
}

.slickslide:nth-of-type(1) {
    display: block;
    left: 0;
}

.slickslide-header {

}

.slickslide-segment {
    position: absolute;
    z-index: 10;
}

