/* slick slide TITLE template 
---------------------------------*/
.slickslide-title {

    h1 {
        text-align: center;
        font-size: 5rem;
        text-transform: uppercase;
    }

    h4 {
        text-align: center;
        font-size: 2rem;
    }

    p {

    }

    .slickside-titletext {
        position: absolute;
        top: 50%;
        left: 50%;
        @include simple-transform( null, null, -50%, -50% );
        width: 50%;
    }
}

